.cake {
  display: none;
}
.pie {
  display: none;
}
.steak{
  display: none;
}
.lasagna{
  display: none;
}
.caking{
  display: none;
}
.pieing{
  display: none;
}
.steaking{
  display: none;
}
.lasagnaing{
  display: none;
}