.cake {
  display: none;
}
.pie {
  display: none;
}
.steak{
  display: none;
}
.lasagna{
  display: none;
}
.caking{
  display: none;
}
.pieing{
  display: none;
}
.steaking{
  display: none;
}
.lasagnaing{
  display: none;
}
.cakeEat{
  display: none;
}
.pieEat{
  display: none;
}
.steakEat{
  display: none;
}
.lasagnaEat{
  display: none;
}
.cakeImage{
  display:none;
}
.pieImage{
  display:none;
}
.steakImage{
  display:none;
}
.lasagnaImage{
  display:none;
}
.hideButtons{
  display:none;
}
.sadMan{
  display:none;
}
p{
  color:rgb(0, 0, 0);
}
body{
  background-color: antiquewhite;
}
.center{
  display: flex;
  justify-content: center;
}
p:nth-child{
  display: flex;
  justify-content: center;
}